.cell_input {
    text-align: center;
    font-weight: bold;
    font-family: "Courier New", monospace;
}

.dictionary_match_input {
    text-align: center;
    padding: 2px;
    font-weight: bold;
    font-family: "Courier New", monospace;
    margin-right: 10px;
    margin-left: 2px;
}


.header_div {
    padding: 10px;
    float: left;
}

#puzzle {
    float: left;
}

#dictionary_matches {
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.left {
    float: left;
}