
.header_div {
    padding: 10px;
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.dictionary_entry {
    padding: 1px;
    font-family: courier, monospace;
}

